.add-plan {
  padding-top: 28px;
  padding-bottom: 67px;
  background-color: $form-block-bg-dark;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding: 53px 34px 60px 36px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 55px 20px 63px 20px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
  }
}

.add-plan__title {
  margin: 0 0 0 0;

  color: $button-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 24px 69px;
  }
}

.add-plan__step {
  position: relative;
  margin: 0 0 9px 0;
  padding: 24px 23px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    margin: 0 0 39px 0;
    padding: 48px 38px 56px 38px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 44px 0;
    padding: 101px 165px 106px 157px;
    border-radius: 60px;
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin: 0 0 51px 0;
      padding: 48px 38px 54px 41px;

      .add-plan__description {
        width: 440px;
        padding-bottom: 30px;
      }
    }

    @media (min-width: $desktop-width) {
      .add-plan__description {
        margin-bottom: 46px;
        padding-right: 560px;
        padding-bottom: 54px;
      }
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      .add-plan__description {
        margin-top: 105px;
        margin-bottom: 34px;
        padding-right: 50px;
        padding-bottom: 33px;
        margin-left: 3px;
      }
    }

    @media (min-width: $desktop-width) {
      .add-plan__description {
        width: 500px;
        margin-top: 66px;
        margin-bottom: 78px;
        padding-right: 20px;
        margin-left: 0;
        padding-bottom: 55px;
      }
    }
  }
}

.add-plan__header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }
}

.add-plan__description {
  margin: 56px 0 20px 0;
  color: $tags-text-color;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 108px 0 26px 0;
    padding: 0 0 36px 0;
    border-bottom: 1px solid rgba($input-border-color, 0.3);

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    // width: 600px;
    margin: 69px 0 30px 0;
    padding: 0 0 54px 2px;
  }
}

.add-plan__step-title {
  position: absolute;

  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $button-text-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    .add-plan__step-title-br {
      display: none;
    }
  }
}

.add-plan__pagination {
  width: fit-content;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 190px;
    right: 388px;
    z-index: 1;
  }
}

.add-plan__pagination-list {
  list-style-type: none;
  counter-reset: list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47px;
  margin: 0 18px 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 75px;
    margin: 13px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.add-plan__pagination-item {
  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -6px;
      left: 42px;
      width: fit-content;
      height: fit-content;
      opacity: 0.6;

      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.11em;
      text-transform: uppercase;
    }

    &:first-child {
      &::before {
        content: "Даты";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "Маршрут";
      }
    }

    &:last-child {
      &::before {
        content: "Развлечения";
      }
    }
  }

  &::after {
    counter-increment: list;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: $button-text-color;
    opacity: 0.3;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 38px;
    }
  }

  &--current {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
      border: 1px solid;
    }
  }
}

.add-plan__fellow-travelers {
  display: block;
  position: relative;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 113px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
  }
}

.add-plan__duration-of-travel {
  display: block;
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;

    .add-plan__fellow-travelers-description {
      margin-right: 79px;
    }
  }
}

.add-plan__fellow-travelers-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $button-text-color;

  @media (min-width: $tablet-width) {
    padding: 0 6px 16px 2px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    margin-right: 58px;
    padding: 0 0 0 3px;

    letter-spacing: initial;
  }
}

.add-plan__fellow-travelers-unit {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 3;

    font-size: 20px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.add-plan__fellow-travelers-controls {
  box-sizing: border-box;
  display: flex;
  height: 43px;
  margin: 8px 0 0 0;
  border: 1px solid $input-border-color;
  border-radius: 4px;

  &:hover {
    border-color: $controls-border-hover-color;
  }

  &:active {
    border-color: $site-bg-color-dark;
  }

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 180px;
    margin: 0 34px 0 0;
  }
}

.add-plan__fellow-travelers-button {
  position: relative;
  width: 43px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--increase {
    &:hover {
      &::before,
      &::after {
        background-color: red;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 15px;
      width: 14px;
      height: 2px;
      background-color: $hdr-menu-close-button-color;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 20px;
      }

      @media (min-width: $desktop-width) {
        left: 4px;
        width: 20px;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 14px;
      width: 14px;
      height: 2px;
      background-color: $hdr-menu-close-button-color;
      transform: rotate(90deg);

      @media (min-width: $tablet-width) {
        left: 0;
        width: 20px;
      }

      @media (min-width: $desktop-width) {
        left: 4px;
        width: 20px;
      }
    }
  }

  &--decrease {
    &:hover {
      &::before {
        background-color: red;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 15px;
      width: 14px;
      height: 2px;
      background-color: $hdr-menu-close-button-color;

      @media (min-width: $tablet-width) {
        left: 24px;
        width: 20px;
      }

      @media (min-width: $desktop-width) {
        left: 19px;
        width: 20px;
      }
    }
  }
}

.add-plan__input-number {
  appearance: none;
  flex-grow: 1;
  text-align: center;
  padding-left: 16px;
  background-color: transparent;
  border: none;

  font-weight: 500;
  font-size: 14.86px;
  line-height: 14px;
  color: $button-text-color;

  @media (min-width: $tablet-width) {
    padding-left: 12px;

    font-size: 20px;
    line-height: 20px;
  }
}

.add-plan__having-children-container {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 409px;
    width: 87%;
    padding: 0 0 34px 0;
    border-bottom: 1px solid rgba($input-border-color, 0.4);
  }

  @media (min-width: $desktop-width) {
    top: 23.1%;
    left: 69.3%;
    border: none;
  }
}

.add-plan__having-children {
  position: relative;
  display: flex;
  align-items: center;
  margin: 28px 0 0 0;
  padding: 0 0 0 41px;

  font-size: 15px;
  line-height: 15px;
  color: $button-text-color;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.add-plan__having-children-label {
  cursor: pointer;

  &:hover {
    &::after {
      border-color: $controls-border-hover-color;
    }
  }

  &:active {
    &::after {
      border-color: $input-border-color;
      background-color: $input-border-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 19px;
  }
}

.add-plan__having-children-label::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 3px;
  width: 26px;
  height: 26px;
  border: 1px solid $input-border-color;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    left: 7px;
    transform: scale(1.4);
  }
}

.add-plan__having-children-input {
  appearance: none;
  position: absolute;

  &:checked + .add-plan__having-children-label::after {
    background: url("../img/icons/check-mark_icon.svg") no-repeat center transparent;
  }

  &:checked + .add-plan__having-children-label:active::after {
    background-color: $controls-border-hover-color;
    border-color: $controls-border-hover-color;
    opacity: 0.5;
  }
}

.add-plan__date {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
  }
}

.add-plan__mounth {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin: 0 0 11px 0;
  border-top: 1px solid $add-plan-mounth-border;
  border-bottom: 1px solid $add-plan-mounth-border;

  @media (min-width: $tablet-width) {
    height: 87px;
    margin: 0 0 30px 0;
  }
}

.add-plan__mounth-button {
  width: 40px;
  height: 100%;
  border: 0;
  background-image: url("../img/icons/next-mounth-button_icon.svg");
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;

  &--previous {
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    background-size: 20px 35px;
    background-position-x: 10%;
  }

  @media (min-width: $desktop-width) {
    background-size: 20px 30px;
    background-position-x: 100%;
  }
}

.add-plan__mounth-current {
  padding: 3px 0 0 0;

  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $button-text-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0 0 5px;
  }
}

.add-plan__calendar {
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 9px 0;
  }
}

.add-plan__route {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.add-plan__goals-to-countrie {
  max-width: 900px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 11px;
  }
}

.add-plan__button-mobile {
  width: 100%;
  height: 40px;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.add-plan__button {
  @media (max-width: $tablet-width) {
    display: none;
  }

  width: 284px;
  height: 80px;
  margin-left: 3px;
  padding: 0 35px 0 35px;
  border-radius: 20px;

  font-size: 24px;
  line-height: 24px;
}

.add-plan__previous-step-button {
  display: block;
  margin-bottom: -15px;
  padding-top: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: $button-text-color;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    right: 42px;
    bottom: 96px;

    font-size: 24px;
    line-height: 22px;
    text-transform: initial;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-top: 1px;
      margin-right: 21px;

      border: 15px solid transparent;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 12px solid $button-text-color;
    }
  }

  @media (min-width: $desktop-width) {
    right: 161px;
    bottom: 150px;
  }
}
