.feedback {
  position: relative;
  padding: 102px 0 31px 0;
  background-color: $site-bg-color;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: inherit;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    padding: 131px 0 48px 0;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    &::after {
      height: 58px;
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 164px 0 102px 0;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feedback__title {
  display: block;
  width: 100%;
  margin: 0 auto 19px auto;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto 59px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 56px auto;
  }
}

.feedback__description {
  width: 100%;
  margin: 0 0 0 0;

  text-align: center;
  color: $basic-text-invert-color;

  &:last-of-type {
    padding: 0 20px;
  }

  &:not(:last-of-type) {
    padding: 0 35px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 36px 0;

    font-size: 28px;
    line-height: 32px;

    .feedback__description-br {
      display: none;
    }

    &:not(:last-of-type) {
      padding: 0 35px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px 0;

    &:last-of-type {
      margin: 0 0 50px 0;
    }
  }
}

.feedback__login-link {
  display: inline-block;
  position: relative;
  width: max-content;
  color: $button-color-basic;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    width: 101%;
    height: 1px;
    background-color: rgba($button-color-basic, 0.5);
  }
}

.feedback__registration-form {
  position: relative;
  height: 62px;
  margin: 29px 0 29px 0;

  @media (min-width: $tablet-width) {
    overflow: hidden;
    margin: 29px 0 60px 0;
    width: 616px;
    height: 80px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1175px;
    height: 81px;
    margin: 29px 0 70px 0;
  }
}

.feedback__registration-form-email {
  box-sizing: border-box;
  position: relative;
  width: calc(100% - 50px);
  height: 100%;
  padding: 0 0 0 24px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: error;
  }

  &--error {
    &::placeholder {
      opacity: 1;
      color: #ff0000;
    }
  }

  &:hover {
    background-color: $site-bg-color-light;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &:focus {
    appearance: none;
    display: block;
    background-color: $site-bg-color;
    border: 4px solid #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    width: calc(100% - 80px);
    padding: 2px 0 0 35px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 325px);
  }
}

.feedback__registration-form-button {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  padding: 0;
  border: none;

  &::after {
    margin-left: 3px;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 325px;
    padding: 1px 36px 0 36px;

    font-size: 24px;
    line-height: 24px;
  }
}

.feedback__registration-form-button-text {
  @media (max-width: 1399px) {
    display: none;
  }
}

.feedback__contacts-list {
  position: relative;
  margin: 15px 0 0 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 18px 0 0 0;
    padding: 0 0 0 46px;
  }

  @media (min-width: $desktop-width) {
    width: max-content;
    margin: 18px auto 0 auto;
    padding: 0 0 0 160px;
  }
}
