.goals-to-countrie__selected-countrie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  &--if-several {
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 10px;
      left: -12px;
      width: 15px;
      height: 283px;
      border: 2px solid $button-text-color;
      border-right: none;

      @media (min-width: $tablet-width) {
        top: 17px;
        left: auto;
        right: 9px;
        width: 1px;
        height: 260px;
      }

      @media (min-width: $desktop-width) {
        top: 17px;
        left: 776px;
      }
    }
  }
}

.goals-to-countrie__selected-countrie-name {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 80%;
  margin: 2px 8px 0 0;
  padding-left: 12px;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  color: $button-text-color;

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: $button-text-color;
    border-radius: 50%;
  }

  &::after {
    @media (max-width: $tablet-width) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -10px;
      width: 43px;
      height: 100%;
      background: linear-gradient(to left, #ffffff 40%, transparent);
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 3px;

    font-size: 30px;
    line-height: 30px;

    &::before {
      position: absolute;
      top: 9px;
      left: auto;
      right: -5px;
      width: 14px;
      height: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      top: 9px;
      left: 770px;
      width: 14px;
      height: 14px;
    }
  }
}

.goals-to-countrie__selected-countrie-flag {
  display: block;
  position: relative;
  width: 35px;
  height: 24px;
  margin: -2px 0 0 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -5px;
    left: auto;
    right: 35px;
    width: 70px;
    height: 47px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 817px;
  }
}

.goals-to-countrie__selected-countrie-input-container {
  overflow: hidden;
  position: relative;
  margin: 14px 0 25px 0;
  border: 1px solid $input-border-color;
  border-radius: 5px;

  &:hover {
    border-color: $controls-border-hover-color;
  }

  &:focus,
  &:focus-within {
    border-color: $site-bg-color-dark;

    .goals-to-countrie__selected-countrie-input {
      &::placeholder {
        opacity: 1;
      }
    }
  }

  @media (min-width: $tablet-width) {
    height: 142px;
    margin: 38px 0 49px 0;

    &:last-child {
      margin: 38px 0 48px 0;
    }
  }

  &--error {
    border-color: $invalid-input-color;

    &::after {
      content: "Это поле должно быть заполнено";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 56px;
      padding: 20px 0 0 21px;
      background-color: $error-message-bg-color;

      font-family: "Blogger Sans", "Arial", sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      color: #ff0000;
    }
  }
}

.goals-to-countrie__selected-countrie-input {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  padding: 9px 14px;
  border: 0;
  resize: none;
  outline: none;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $tags-text-color;

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 93%;
    height: 142px;
    padding: 17px 35px 17px 20px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    padding: 24px 10px 17px 26px;
  }
}
