.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.main-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.main-navigation__list-item {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-text;
}

.main-navigation__login-button {
  width: 270px;
  height: 50px;
  margin-bottom: 51px;
  border-radius: 25px;
}
