.menu-toggle {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 25px;
  height: 11px;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    border: none;
    border-radius: 3px;
    background: #ffffff;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 3px;
    border: none;
    border-radius: 3px;
    background: #ffffff;
  }
}

.menu-toggle--closed {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
  height: 19px;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: -4px;
    width: 23.89px;
    height: 2.03px;
    border: none;
    border-radius: 1.5px;
    background: $hdr-menu-close-button-color;
    transform: matrix(0.71, 0.73, -0.69, 0.71, 0, 0);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: -4px;
    width: 23.89px;
    height: 2.03px;
    border: none;
    border-radius: 1.5px;
    background: $hdr-menu-close-button-color;
    transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 0);
  }
}
