.page-header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 74px;
  padding-top: 19px;
  background-color: $site-bg-color-dark;

  &--form,
  &--catalog {
    background-color: $site-bg-color;
  }

  @media (min-width: $tablet-width) {
    min-height: 100px;
    padding-top: 38px;
    background-color: $site-bg-color;
  }
}

.page-header__logo {
  display: inline-block;
  width: 96px;
  height: 15px;
  background: url("../img/logo/site_logo.png") no-repeat center transparent;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
    margin: 7px 0 0 0;
    background: url("../img/logo/site_logo@tablet.png") no-repeat center transparent;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 200px;
    height: 52px;
    margin: 8px 0 0 0;
    background-size: contain;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 28px;
      right: -100px;
      width: 60px;
      height: 2px;
      background-color: #ffffff;
    }
  }
}

.page-header__menu-toggle {
  float: right;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    float: none;
    margin: -33px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__menu-toggle--closed {
  margin-top: -16px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
    margin-top: -30px;
  }
}

.page-header__menu {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 34px;
  background-color: #ffffff;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-height: 910px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-height: 0;
    height: 0;
    background: none;
  }
}

.page-header__menu--open {
  display: block;
}

.page-header__menu-logo {
  display: block;
  width: 105px;
  height: 15px;
  margin: 2px 0 0 -3px;
  background: url("../img/logo/site_logo@menu.png") no-repeat center transparent;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
    margin: 20px 0 0 0;
    background: url("../img/logo/site_logo@tablet-menu.png") no-repeat center transparent;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__main-navigation {
  margin-top: 76px;

  @media (min-width: $tablet-width) {
    margin: 109px 0 143px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 67px;
    left: 405px;
    margin: 0;
  }
}

.page-header__contacts-list {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 69px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__social-list {
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    width: max-content;
    margin: 144px 0 0 100px;
    transform: scale(1.3);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header--no-script {
  padding-top: 0;

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__menu {
    display: block;
    position: static;
  }

  .page-header__logo {
    display: none;
  }
}

.page-header--after-scroll {
  padding-top: 24px;
  background-color: #ffffff;

  .page-header__logo {
    margin-top: 3px;
    width: 95px;
    background: url("../img/logo/site_logo@menu.png") no-repeat center transparent;
    background-size: contain;
  }

  .menu-toggle {
    &::before {
      background: $hdr-menu-close-button-color;
    }

    &::after {
      background: $hdr-menu-close-button-color;
    }
  }
}
