.preferred-transport {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  border: 0 solid transparent;

  @media (min-width: $tablet-width) {
    border: 1px solid $input-border-color;
    border-radius: 10px;
  }

  &--in-search-form {
    border: 0;

    @media (min-width: $desktop-width) {
      padding: 6px 0 5px 3px;
    }

    .preferred-transport__label {
      margin: 6px 2px 13px 0;
    }
  }
}

.preferred-transport__title {
  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    bottom: -23px;
    // background-color: $site-bg-color-light;
    background-color: inherit;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    bottom: -11px;
  }
}

.preferred-transport__label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.52px;
  height: 31.52px;
  margin: 6px 0 13px 0;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &:first-of-type {
    padding-right: 4px;
  }

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.preferred-transport__icon {
  opacity: 0.15;

  @media (min-width: $tablet-width) {
    transform: scale(1.3);
  }
}

.preferred-transport__input {
  appearance: none;
  position: absolute;

  &:checked + .preferred-transport__icon {
    opacity: 1;
  }
}
