.promo {
  box-sizing: border-box;
  position: relative;
  padding: 21px 0 28px 0;
  background: $site-bg-color;

  @media (min-width: $tablet-width) {
    position: static;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 123px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28%;
    background-color: $site-bg-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo__title {
  display: block;
  margin-bottom: 310px;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 87px;
    padding-top: 41px;

    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 42px 0 101px 67px;

    text-align: start;
  }
}

.promo__quote {
  margin: 28px 25px 29px 25px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 0 33px 213px 33px;

    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 300px;
    margin: 0;
    top: 193px;
    right: 45px;
  }
}

.promo__quote-author {
  margin-top: 18px;
  padding-right: 25%;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    padding-right: 60%;

    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10%;
  }
}
