.promo {
  box-sizing: border-box;
  position: relative;
  padding: 95px 0 28px 0;
  background-color: $site-bg-color-dark;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28%;
    background-color: $site-bg-color;
    z-index: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
    padding-top: 121px;
    background-color: $site-bg-color-dark-tablet;
  }

  @media (min-width: $desktop-width) {
    min-height: 650px;
    padding: 100px 0 0 0;
  }

  // &--after-scroll {
  //   padding-top: 90px;

  //   .promo__bg {
  //     &::before {
  //       top: 472px;
  //     }
  //   }

  //   .promo__user-controls {
  //     top: 452px;
  //   }

  //   @media (min-width: $tablet-width) {
  //     padding-top: 121px;
  //   }

  //   @media (min-width: $desktop-width) {
  //     padding-top: 100px;
  //   }
  // }
}

.promo__bg {
  background-image:
    url("../img/content/traveller-illustration-mobile.png"),
    url("../img/content/promo-bg-mobile.png");
  background-repeat: no-repeat;
  background-size:
    192px 255px,
    contain;
  background-position:
    62.5% 127px,
    0 -95px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/content/traveller-illustration-mobile@2x.png"),
      url("../img/content/promo-bg-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image:
      url("../img/content/traveller-illustration-tablet.png"),
      url("../img/content/promo-bg-tablet.png");
    background-repeat: no-repeat;
    background-size:
      372px 451px,
      contain;
    background-position:
      72% 283px,
      0 261px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/content/traveller-illustration-tablet@2x.png"),
        url("../img/content/promo-bg-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 650px;

    background-image:
      url("../img/content/traveller-illustration-desktop.png"),
      url("../img/content/promo-bg-desktop.png");
    background-repeat: no-repeat;
    background-size:
      431px 640px,
      cover;
    background-position:
      59.9% 10px,
      0 -100px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/content/traveller-illustration-desktop@2x.png"),
        url("../img/content/promo-bg-desktop@2x.png");
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 477px;
    width: 100%;
    height: 10%;
    background: $site-bg-color-dark;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo__header {
  z-index: 10;
}

.promo__title {
  display: block;
  width: 250px;
  margin: 0 auto 310px auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 87px;
    padding-top: 41px;

    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 101px 67px;
    padding: 109px 0 0 20px;

    text-align: start;
  }
}

.promo__quote {
  position: relative;
  display: block;
  margin: 28px 25px 29px 25px;
  color: #ffffff;
  z-index: 100;

  @media (min-width: $tablet-width) {
    margin: 0 33px 213px 33px;

    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 300px;
    margin: 61px 0 0 0;
    top: 30px;
    right: 46px;
  }
}

.promo__quote-author {
  margin-top: 18px;
  padding-right: 25%;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-top: 42px;
    padding-right: 0;

    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10%;
  }
}

.promo__user-controls {
  display: flex;
  position: absolute;
  top: 457px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
