.select-countrie {
  padding: 0 0 0 0;
  background-color: #ffffff;
  border: 1px solid $input-border-color;
  border-top: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);

  @media (min-width: $tablet-width) {
    display: flex;
    border-radius: 0;
  }
}

.select-countrie__alphabet-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  display: flex;
  justify-content: center;
}

.select-countrie__alphabet {
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
  height: 206px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    width: 262px;
    height: 346px;
    margin: 35px 80px 33px 27px;
  }
}


.select-countrie__alphabet-table {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 94%;
  padding: 0 0 40px 0;
}

.select-countrie__letter {
  box-sizing: border-box;
  min-width: 43px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid $input-border-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $button-text-color;

  &--chosen {
    background-color: $site-bg-color-light;
    color: $button-text-color;
    border-top-color: $site-bg-color-light;
    border-bottom-color: $site-bg-color-light;

    @media (min-width: $tablet-width) {
      background-color: $button-text-color;
      border-color: $button-text-color;

      color: #ffffff;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.select-countrie__letter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-countrie__results-list {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 20px 0 20px 20px;
  background-color: #ffffff;
  border: 1px solid $input-border-color;
  border-top: none;

  font-weight: normal;
  color: $tags-text-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 183.51px;
    padding: 40px 0 50px 25px;
    min-height: 414px;
    border-right: none;
    border-bottom: none;
  }
}

.select-countrie__results-item {
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {

    font-size: 20px;
    line-height: 20px;
  }
}
