.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  &--in-menu {
    .social-list__link {
      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &--footer {
    .social-list__link {
      background-color: $button-color-basic;

      &:hover {
        background-color: $button-color-dark;
      }

      &:active {
        .social-list__icon {
          opacity: 0.3;
        }
      }
    }
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.social-list__icon {
  display: block;
  fill: $site-bg-color;
}
