// Colors

$site-bg-color: #192144;
$site-bg-color-dark: #161c35;
$site-bg-color-dark-tablet: #182044;
$site-bg-color-light: #edeff6;
$hdr-menu-close-button-color: #cccccc;
$basic-text-color: #000000;
$basic-text-invert-color: #ffffff;
$dark-text: #192144;
$button-color-basic: #ffd74b;
$button-color-dark: #ffbd30;
$button-color-extra-dark: #ff8d30;
$button-color-extra-dark-hover: #f26926;
$button-roll-up-bg: #d6daed;
$button-roll-up-bg-hover: #c8cee8;
$button-form-color-hover: #d1d7e9;
$button-text-color: #1d2e5b;
$button-authorized-text-color: #161c35;
$preferred-transport-unchecked-color: #d9d9d9;
$contact-icon-bg: #121936;
$block-title-color: #ff8d30;
$bg-element-rectangle-color: #141b3b;
$tags-text-color: #444444;
$like-pressed-bg-color: #f9eaea;
$like-pressed-bg-color-hover: #f9d8d8;
$like-pressed-icon-color: #f02323;
$online-indicator-color: #81e31e;
$offline-indicator-color: #f97676;
$chosen-ways-of-transport-color: #101d41;
$lvl-bg-color: rgba(0, 0, 0, 0.6);
$lvl-border-hover-color: #c4c4c4;
$progress-bar-color: #ff8d30;
$rates-button-text-color: #132576;
$rates-modal-footer-bg: #f3f4f8;
$form-block-bg: #dfe3f0;
$form-block-bg-dark: #d4d9eb;
$input-border-color: #cbced9;
$input-border-hover-color: #aeb4bc;
$controls-border-hover-color: #959bb2;
$add-plan-mounth-border: #d6d9e6;
$calendar-red: #ff5c23;
$countries-filter-bg: #e2e5f2;
$dropdown-list-border-color: #f3c72b;
$invalid-input-color: #f47e7e;
$error-message-bg-color: #ffefef;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
